<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>

	<connectionStrings>
		<add name="TriApexConnection"
             connectionString="Data Source=BEAST\SQLEXPRESS;Initial Catalog=TriApexDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="ApplicationName" value="TriApex NFT Marketplace"/>
		<add key="Version" value="1.0.0"/>
		<add key="MinLoadingTime" value="1500"/>
	</appSettings>

</configuration>